.detail {
  padding-bottom: 50px;
  padding-top: 46px;
}
.detail /deep/ .van-nav-bar .van-icon {
  color: #656665;
}
.detail .left-img {
  width: 20px;
  height: 20px;
}
.detail /deep/ .van-nav-bar__text {
  color: #656665;
}
.detail /deep/ .van-nav-bar__title {
  color: #F0134D;
  font-weight: bold;
}
.detail .pro-info-box {
  position: relative;
}
.detail .pro-info-box .pro-info {
  width: 100%;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  top: -20px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.detail .large-text {
  font-size: 10px;
}
.detail .pro-box {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}
.detail .pro-box .pro-left {
  color: #656565;
  font-weight: bold;
  font-size: 12px;
}
.detail .pro-box .pro-left .pro-name {
  color: #665566;
  font-size: 16px;
}
.detail .pro-box .pro-price {
  color: #f0134f;
  font-weight: bold;
}
.detail detail /deep/ .van-stepper--round .van-stepper__plus {
  background: none !important;
}
.detail .rule-box {
  padding: 0 10px;
}
.detail .rule-box .rule-items {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.detail .rule-box .rule-items .rule-title {
  font-weight: bold;
  width: 100px;
}
.detail .rule-box .rule-items .rule-bottom {
  display: flex;
  flex: auto;
}
.detail .rule-box .rule-items .rule-bottom .r-item {
  padding: 2px 20px;
  margin: 0 10px;
  background-color: #F1C6D3;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.detail .rule-box .rule-items .rule-bottom .r-item.active {
  background-color: #f0134d;
}
.detail .desc-box {
  padding: 20px 10px 0;
}
.detail .pro-desc {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.detail .detail /deep/ .van-stepper--round .van-stepper__plus {
  background: none !important;
}
.detail .desc-text {
  color: #f1c6d3;
  font-size: 12px;
}
.detail .text-item {
  margin-bottom: 10px;
}
.detail /deep/ .van-stepper--round .van-stepper__minus {
  color: #0C34BA;
  border-color: #0C34BA;
}
.detail /deep/ .van-stepper--round .van-stepper__plus {
  background-color: #0C34BA;
}
.detail /deep/ .van-info {
  background-color: #0C34BA;
}
.detail .c-box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.detail .c-box .select-count {
  font-weight: bold;
  width: 100px;
}
.detail .c-box .count-box {
  padding: 0 10px;
}
